
*{
    background-color:lightgray;
}

.center-container {
    display: grid;
    place-items: center;  /* 同时水平和垂直居中 */
    height: 100vh;        /* 使容器高度为视口高度 */
    padding: 5px;
    padding-left: 200px;
    padding-right: 200px;
}

.source-code-pro-normal {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 21px;
    text-align: left;
}

p{
    line-height:1.2;
}



